
<div class="jumbotron jumbotron-cover">
      <div class="layer-1">
      <div class="ccontainer text-xs-center layer-2">
        <!--h4>Журнал <a href="http://elektropribor.spb.ru/gn">Гироскопия и Навигация</a></h4-->
        <!--h4>Журнал &#132;Гироскопия и Навигация&#147;</h4-->
        <h4>Журнал Гироскопия и Навигация</h4>
        <!--h1 class="display-5">Система подачи и рецензирования статей</h1-->
        <!--h1 class="display-5">Онлайн-система рецензирования</h1-->
        <h1 class="display-5">Система онлайн-рецензирования</h1>
        <!--p>
            Система обеспечивает процесс от подачи автором статьи,
            рассмотрения редактором и рецензентами,
            доработки, до окончательного решения и подготовки к публикации.
        </p-->
        <p>
            Система обеспечивает процесс от подачи автором статьи,
            рецензирования, доработки, до вынесения окончательного решения.
            <!--br-->
<!--            Чтобы узнать больше, посетите <a href="http://elektropribor.spb.ru/gn" class="cover-link">сайт журнала ГН</a-->
            Посетите <a href="http://elektropribor.spb.ru/gn" class="cover-link">сайт журнала ГН</a>, чтобы узнать больше.
        </p>
        <p>
            <a class="btn btn-primary bbtn-sm" href="/submissions/new" role="button">Подать статью</a> или просто
            <%= link_to "войти", '/office', class: 'cover-link' %>
        </p>
      </div>
      </div>
    </div>

