
<div class="jumbotron jumbotron-cover">
      <div class="layer-1">
      <div class="container text-xs-center layer-2">
        <h4>Журнал <a href="http://elektropribor.spb.ru/gn">Гироскопия и Навигация</a></h4>
        <h1 class="display-5">Система подачи и рецензирования статей</h1>
        <!--p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p-->
        <p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p>
        <!--p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p>
        <p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p>
        <p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p>
        <p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p>
        <p>
            Система обеспечивает процесс от подачи автором статьи в электронной форме,
            рассмотрения редактором и рецензентами,
            необходимой доработки до вынесения окончательного решения и подготовки к публикации.
        </p-->
        <p>
            <a class="btn btn-primary bbtn-sm" href="/submissions" role="button">Подать статью</a> или просто
            <%= link_to "войти", '/office' %>
        </p>
        </p>
      </div>
      </div>
    </div>

