
<div class="jumbotron jumbotron-cover">
      <div class="layer-1">
      <div class="ccontainer text-xs-center layer-2">
        <h4>Журнал Гироскопия и Навигация</h4>
        <h1 class="display-5">Система онлайн-рецензирования</h1>
        <p>
            Система обеспечивает процесс от подачи автором статьи,
            рецензирования, доработки, до вынесения окончательного решения.
            Посетите <a href="http://elektropribor.spb.ru/gn" class="cover-link">сайт журнала Гироскопия и Навигация</a>, чтобы узнать больше.
        </p>
        <p>
            <a class="btn btn-primary bbtn-sm" href="/submissions/new" role="button">Подать статью</a> или просто
            <%= link_to "войти", '/office', class: 'cover-link' %>
        </p>
      </div>
      </div>
    </div>

