
<div class="jumbotron jumbotron-cover">
      <div class="layer-1">
      <div class="container text-xs-center layer-2">
        <h4><a href="http://elektropribor.spb.ru/publ/egn_info">Gyroscopy and Navigation</a> Journal</h4>
        <!--h1 class="display-5">Papers submission and reviewing system</h1-->
        <h1 class="display-5">Online review system</h1>
        <!--p>
            The system provides the process from the paper submission by the author,
            consideration by the editors and reviewers,
            through reworking, until the final decision and publication preparation.
        </p-->
        <p>
            The system provides the whole process from the paper submission by the author,
            consideration by the editors and reviewers,
            through revise, until the final decision and publication preparation.
        </p>
        <p>
            <a class="btn btn-primary bbtn-sm" href="/submissions/new" role="button">Submit the paper</a> or just
            <%= link_to "enter", '/office' %>
        </p>
      </div>
      </div>
    </div>

