
<div class="jumbotron jumbotron-cover">
      <div class="layer-1">
      <div class="ccontainer text-xs-center layer-2">
        <h4>&#147;Gyroscopy and Navigation&#148; Journal</h4>

        <p class=issn>
            ISSN 0869-7035 (print),
            ISSN 2075-0927 (online)<br>
            Journal site: <%= link_to "elektropribor.spb.ru/publ/egn_info", 'http://elektropribor.spb.ru/publ/egn_info', class: 'cover-link' %>
        </p>

        <h1 class="display-5">Online review system</h1>
        <!--p>
            The system provides the tools for paper submission,
            review, rework and the editor's final decision.
            Visit the <a href="http://elektropribor.spb.ru/publ/egn_info" class="cover-link">&#147;Gyroscopy and Navigation&#148; Journal site</a> to see more details.
        </p-->

        <p>
            <a class="btn btn-primary bbtn-sm" href="/office" role="button">Enter</a>
        </p>


        <!--p>
            <a class="btn btn-primary bbtn-sm" href="/submissions/new" role="button">Submit a paper</a> or just
            <%= link_to "enter", '/office', class: "cover-link" %>
        </p-->
      </div>
      </div>
    </div>

