<%
  @page_menu_data = [
    {
        title: ( '#'+@submission.id.to_s + ' ' + t('journal.submissions.show') ),
      url: submission_path(@submission),
      icon: 'arrow-left',
    }
  ]

    @page_title = t('journal.submission_titles.paper_text', number: @submission.id)
    @page_title_sm = t('journal.submission_titles.paper_text_sm', number: @submission.id)

%>


<div class="container-fluid">

<!--div class="page-header">
  <h2><%= t('journal.submissions.edit_paper') %></h2>
</div-->


<%#= render 'submission_revisions/form' %>

<%= render 'form' %>

</div>


