
<%
  @page_menu_data = [
    {
      title: t('journal.submissions.my_papers'),
      url: journal_submissions_path(@journal),
      icon: 'arrow-left',
#      icon: 'list',
      style: 'default'
    }
  ]


  @page_title = t('journal.submissions.new_paper')
#  @page_title_sm = '#' + @submission.id.to_s + ' Text'

%>


<div class="container-fluid">


<%= render partial: 'form', locals: {mode: :wizard} %>

</div>

