<%

  @page_menu_data = [
    {
        title: ( '#'+@submission.id.to_s + ' ' + t('journal.submissions.show') ),
        url: submission_path(@submission),
        icon: 'arrow-left',
#        disabled: ! (policy(@submission).update_metadata? || policy(@submission).update_file?)
    }
  ]

#  @page_title = t('journal.submissions.paper_revisions') + ' #' + @submission.id.to_s
  @page_title = '#' + @submission.id.to_s + ' ' +t('journal.submissions.revisions')
  @page_title_sm = '#' + @submission.id.to_s

%>

<div class="container-fluid revisions" style="overflow: hidden;">

    <%= render partial: 'submissions/show_revisions' %>

</div>

