<%

    revisions = @submission.revisions_submitted.order(:revision_n).reverse_order

  @page_menu_data = [
    {
        title: t('journal.submissions.revisions'),
        url: revisions_submission_path,
        icon: 'th-list',
        disabled: (revisions.count==0)
    }, {
        title: t('journal.submissions.delete'),
        url: submission_path(@submission),
        method: :delete,
        #data: { confirm: 'Delete this paper, are you sure? All paper data will be lost.' },
        data: { confirm: t('journal.submissions.delete_confirm') },
        icon: 'trash',
        disabled: !policy(@submission).destroy?
    }, {
        title: t('journal.submissions.my_papers'),
        url: journal_submissions_path(@journal),
        icon: 'arrow-left',
#        icon: 'list',
#        style: 'default'
#        style: 'outline-primary',
    }
  ]

  @page_title = t('journal.submissions.show') + ' #' + @submission.id.to_s
  @page_title_sm = '#' + @submission.id.to_s

%>

<div class="container-fluid" style="overflow: hidden;" id="submission_block_container">

    <%= render partial: 'show_block' %>

</div>

