
<aside id="left-sidebar">

<ul iid="navleft" class="nav nav-pills nav-stacked nnavbar nnavbar-light nnavbar-dark bbg-inverse bbg-faded">

  <li class="nav-item">
    <b class="nav-link text-xs-center">Editor office</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">5</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My reviews</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Incoming
      <span class="tag tag-default tag-pill float-xs-right">2</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Done</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

  <li class="nav-item">
    <b class="nav-link text-xs-center">My papers</b>
  </li>
  <li class="nav-item">
    <a class="nav-link aactive ppull-right" href="#">Current</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Archive</a>
  </li>

</ul>


</aside>
