
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&subset=cyrillic');
$font-family-sans-serif: 'Open Sans', sans-serif;

//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');
//$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap/variables";
//$brand-inverse: #3aa6d0;
//$brand-inverse: #A66900;


// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";
@import "font-awesome";


body { ppadding-top: 50px; }


html, body {
    height: 100%;
    width: 100%;
}


body {
    ddisplay: -webkit-flex;
    ddisplay: flex;
    -wwebkit-flex-flow: row nowrap;
    fflex-flow: row nowrap;
}


@import "navbar";
//@import "sidebar";
@import "home";
