
//require jquery-ui

@import "jquery-ui";

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i&subset=cyrillic');
$font-family-sans-serif: 'Open Sans', sans-serif;

//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');
//$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap/variables";
//$brand-inverse: #3aa6d0;
//$brand-inverse: #A66900;


// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";
@import "font-awesome";


body { ppadding-top: 50px; }


html, body {
    height: 100%;
    width: 100%;
}


body {
    ddisplay: -webkit-flex;
    ddisplay: flex;
    -wwebkit-flex-flow: row nowrap;
    fflex-flow: row nowrap;
}



.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.65;
//  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}



@import "home";

@import "navbar";
@import "sidebar";

@import "submissions";

