

//$papers-list-item-background-color: #f9f9f5;
//$papers-list-item-background-color: #fdfffb;
$papers-list-item-background-color: #ffffff;
$papers-list-item-background-color-hover: darken($papers-list-item-background-color, 3%);


.papers-list {
    .papers-list-item {
        margin: 8px 0px;
        background-color: $papers-list-item-background-color !important;
        box-shadow: 2px 2px 2px rgba(10,10,0,0.5);
        &:hover {
            background-color: $papers-list-item-background-color-hover !important;
        }
        overflow: hidden;
    }
}

        .papers-list-item-title, .paper-card-title {
            font-size: 120%;
            color: #000000;
        }
        .papers-list-item-authors, .paper-card-authors {
            font-family: Georgia, serif;
            font-size: 85%;
            color: #777777;
        }
        .papers-list-item-abstract, .paper-card-abstract {
            color: #aaaaaa;
        }


//$authors-list-item-background-color: #ded6ce;
$authors-list-item-background-color: #f0f8ff;
$authors-list-item-background-color-hover: darken($authors-list-item-background-color, 3%);

.authors-list {
    .authors-list-item {
        //margin: 8px 25px;
        //margin: 8px 10px;
        margin: 8px 15px;
        //padding-left: 2px;
        //padding-right: 4px;
        background-color: $authors-list-item-background-color !important;
        box-shadow: 2px 2px 2px rgba(10,10,0,0.5);
        &:hover {
            background-color: $authors-list-item-background-color-hover !important;
        }
        overflow: hidden;
    }
}


//.review_text_block {
//    margin-top: 20px;
//    background-color: #fafafa
//}

//$paper-state-color-rejected: #dd0033;
//$paper-state-color-darken-rejected: darken($paper-state-color-rejected, 30%);

.paper-state-block {
//    padding-left: 30px;
//    padding-right: 30px;

//    padding-left: 10px;
//    padding-right: 10px;
    position: relative;

    text-shadow: 1px 1px 2px #000;
    color: #f4f4f4;

    .blockquote {
        background-color: rgba(127,127,127,0.2);
    }
    .reviews-list {
        text-shadow: none;
        color: #333333;
//        margin-left: -25px;
//        margin-right: -25px;
        .card {
            //border: thin solid red;
//            padding-left: 0px;
//            padding-right: 0px;
//            background-color: rgba(240,240,240,0.4) !important;
            background-color: rgba(127,127,127,0.2);
//            text-shadow: none;
            .card-block {
                margin-left: 0px;
                margin-right: 0px;
//                background-color: rgba(222,222,222,0.2) !important;
                background-color: rgba(127,127,127,0.2) !important;
                .card-title {
//                    color: #333333;
    text-shadow: 1px 1px 2px #000;
    color: #f4f4f4;
                    cursor: pointer;
                }
            }
        }
    }
}

.collapse-link {
    cursor: pointer;
}


$paper-state-color: (
    draft: #777777,
    submitted: #0033dd,
    under_consideration: #0033dd,
    need_revise: #eeaa00,
    rejected: #dd0033,
    rejected_without_consideration: #dd0033,
    accepted: #00cc22
);

$paper-reviewer-state-color: (
    please_accept: #00cc22,
    please_wait: #0033dd,
    please_review: #eeaa00,
    nothing_to_do: #777777
);


.papers-list {
    .papers-list-item {
        position: relative;
        .headblock {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 3px;
            width: 100%;
            background-color: #f0f0f0;
            .part_1 {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 3px;
//                width: 33%;
                width: 25%;
                //background-color: gray;
                background-color: #{map-get($paper-state-color, 'draft')};
            }
            .part_2 {
                position: absolute;
//                left: 33%;
                left: 25%;
                //left: 0px;
                top: 0px;
                height: 3px;
//                width: 18%;
                width: 25%;
            }
            .part_3 {
                position: absolute;
                left: 50%;
                top: 0px;
                height: 3px;
//                width: 17%;
                width: 25%;
            }
            .part_4 {
                position: absolute;
//                left: 67%;
                left: 75%;
                top: 0px;
                height: 3px;
//                width: 33%;
                width: 25%;
            }
            .part_2_submitted,
            .part_2_under_consideration,
            .part_2_accepted,
            .part_2_rejected,
            .part_2_rejected_without_consideration,
            .part_2_need_revise {
                background-color: #{map-get($paper-state-color, 'submitted')};
            }
            .part_3_under_consideration,
            .part_3_accepted,
            .part_3_rejected,
            //.part_3_rejected_without_consideration,
            .part_3_need_revise {
                background-color: #{map-get($paper-state-color, 'under_consideration')};
            }
            .part_3_rejected_without_consideration {
                background-color: #{map-get($paper-state-color, 'rejected_without_consideration')};
            }
            .part_4_accepted {
                background-color: #{map-get($paper-state-color, 'accepted')};
            }
            .part_4_rejected, .part_4_rejected_without_consideration {
                background-color: #{map-get($paper-state-color, 'rejected')};
            }
            .part_4_need_revise {
                background-color: #{map-get($paper-state-color, 'need_revise')};
            }
        }
    }
}


//$state-list: draft submitted under_consideration need_revise rejected rejected_without_consideration accepted;

    //@each $state in $state-list {
    @each $state, $color in $paper-state-color {
        .paper-tag-#{$state} {
    //        background-color: #{map-get($paper-state-color, $state)};
            background-color: #{$color};
        }
        .papers-list-item-#{$state} {
        //    border-left: 5px solid $color;
        }
        .submission-block-#{$state} {
            background-color: $color;
            background: linear-gradient(to top, darken($color,30%), $color);
        }
    }

    @each $state, $color in $paper-reviewer-state-color {
//        .paper-tag-#{$state} {
//    //        background-color: #{map-get($paper-state-color, $state)};
//            background-color: #{$color};
//        }
//        .papers-list-item-#{$state} {
//        //    border-left: 5px solid $color;
//        }
        .reviewer_submission-block-#{$state} {
            background-color: $color;
            background: linear-gradient(to top, darken($color,30%), $color);
        }
        .reviewer-headblock-#{$state} {
            background-color: $color !important;
        }
    }


$paper-review-status-color: (
    pending: black,
    cancelled: black,
    declined: black,
    noreview: #0033dd,
    notready: #0033dd,
    ready_accept: #00cc22,
    ready_reject: #dd0033,
    ready_revise: #eeaa00
);
$paper-decision-status-color: (
    reject_without_consideration: #dd0033,
    take_for_consideration: #0033dd,
    draft1: #0033dd,
    draft2: #0033dd,
    accept: #00cc22,
    reject: #dd0033,
    revise: #eeaa00
);

    @each $rs, $color in $paper-review-status-color {
        .reviewers-status-#{$rs} {
            color: $color;
        }
    }
    @each $rs, $color in $paper-decision-status-color {
        .decision-status-#{$rs} {
            color: $color;
        }
    }
