<p>(see english text below)</p>

<p>Здравствуйте, <%= @resource.full_name %>!</p>

<p>Это письмо отправлено, чтобы уведомить Вас, что Ваш пароль был изменен.</p>

<p>(Это письмо было отправлено системой. Пожалуйста, не отвечайте на него.)</p>


<p>Dear <%= @resource.full_name %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>(This email was sent by the system. Please don't reply.)</p>
