<p>(see english text below)</p>

<p>Здравствуйте, <%= @resource.full_name %>!</p>

<p>Кто-то запросил ссылку для изменения Вашего пароля. Вы можете сделать это с помощью ссылки, указанной ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы ничего такого не запрашивали, просто игнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока Вы не создадите новый, перейдя по ссылке выше.</p>

<p>(Это письмо было отправлено системой. Пожалуйста, не отвечайте на него.)</p>


<p>Dear <%= @resource.full_name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>(This email was sent by the system. Please don't reply.)</p>
